.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 30rem));
    grid-template-rows: auto;
    gap: 3rem;
    justify-content: center;

    &-wrapper {
        margin-top: 4rem;
        min-height: 40rem;
    }
}

.generic-centering-wrapper {
    display: flex;
    justify-content: center;
}

.pagination-ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 2rem;
}