@keyframes bodyOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: lightgrey;
  min-height: calc(100vh - 10rem);
  animation: bodyOpacity 0.5s;
}

img {
  border-style: none;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#root {
  width: 100%;
  min-height: inherit;
  font-size: 2rem;
}